/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 16.25.51
    Author     : studente
*/

body {
    background-color: #dfdfff;
    color: rgb(0,40,90);
    font-family: "Advantage", Arial, serif;
    margin: 10px;
    padding: 0;
}
h1 {
    border: 1px solid #007f00;
    text-align: center;
    background-color: #ffff90;
}
h2 {
    background-color:black;
    color:#dfdfff;
}
h3 {
    background-color: #fff;
    border-bottom: 1px dotted gray;
}
header {
    height:30px;
}
a{
    text-decoration: none;
    color:#ef7000;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
nav ul {
    margin:0;
    padding: 0;
}
nav li {
    float: left;
    width: 25%;
    display: inline;
    text-align: center;
    border-bottom: 1px solid black;
}
nav li.checked {
    border-bottom: none;
}
nav li span {
    display: block;
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
}
nav li a {
    display: block;
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    background-color: #ddd;
}
form {
    margin: 0 auto;
    display: table;
}
form div{
    margin: 5px 0;
}
input[type="text"],input[type="password"],input[type="number"],textarea {
    border-top: 1px solid green;
    border-left: 1px solid green;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
input[type="submit"] {
    text-shadow: 2px 2px gray;
    font-weight: bold;
    border: 1px solid green;
    padding: 2px 7px;
    font-size: 20px;
}
input[type="submit"]:active {
    text-shadow: none;
    padding:4px 5px 0px 9px;
    vertical-align: top;
}
input:not([type="submit"]):focus, textarea:focus {
    background-color: #dfffdf;
}
label {
    width: 140px;
    float: left;
}
div.submit {
    text-align: center;
    margin-top: 10px;
}
table {
    margin: 0 auto;
}
tr {
    height: 90px;
}
tr.intestazione {
    height: auto;
}
th {
    text-shadow: 2px 2px #ffff4f;
}
tr.rigapari {
    background: lightcyan;
}
tr.rigadispari {
    background: lightgray;
}
td.center {
    text-align: center;
}
td.modello {
    font-weight: bold;
    color: #5050a0;
    font-size: 18px;
    padding: 0 5px;
}

div#indice strong {
    margin: 25px;
    display: block;
}
div#indice {
    float: left;
    width: 15%;
    height: 400px;
}
div#body {
    float: left;
    width: 85%;
    height: 400px;
    overflow: auto;
}
@media only screen and (max-width: 1023px) {
    div#indice {
        float: none;
        width: 100%;
        height: auto;
    }
    div#body {
        float: none;
        width: 100%;
        height: auto;
        overflow: auto;
    }
}
@media only screen and (max-width: 480px) {
    header {
        height: auto;
    }
    nav li {
        float: none;
        width: 100%;
        display: inline;
        text-align: center;
        border-bottom: none;
    }
    nav li.checked {
        display:none;
    }
    nav li span {
        display: block;
        padding: 5px 0;
        border: none;
    }
    nav li a {
        display: block;
        padding: 5px 0;
        border: none;
        background-color: #ddd;
    }
}